LinqAndLambdas/.vs/
LinqAndLambdas/Generics/obj/
LinqAndLambdas/Generics/bin/
LinqAndLambdas/LinqAndLambdas/obj/
LinqAndLambdas/Delegates/obj/
LinqAndLambdas/LinqAndLambdas/bin/
LinqAndLambdas/Delegates/bin/
